# Introduction

This notebook contains all the codes used to extract data from the Singapore Department of Statistics via the use of API

In [1]:
import os
import pandas as pd
import requests as r

 # SG Fertility Rate

In [2]:
os.chdir(r'C:\Users\tanzh\Documents\Kaggle\datasets\sg fertility rate')
data = r.get(r'https://www.tablebuilder.singstat.gov.sg/publicfacing/api/json/title/13273.json').json()

In [3]:
pd.json_normalize(data)

,Level1b,Level1a,Level1c,Level2a,Level2b,Note,VariableFootNotes,Unit,Datesource,GeneratedBy,DataLastUpdated,DateGenerated,Contact
0,"[{'year': '1960', 'level_1': 'Crude Birth Rate...","[{'year': '1960', 'level_1': 'Total Fertility ...","[{'year': '1960', 'level_1': 'Total Live-birth...","[{'year': '1960', 'level_1': 'Total Fertility ...","[{'year': '1960', 'level_1': 'Total Fertility ...","""For more information, please refer to the 'Po...",[TOTAL FERTILITY RATE - Data prior to 1980 per...,None,"SINGAPORE DEPARTMENT OF STATISTICS, IMMIGRATIO...",SingStat Table Builder,10/06/2020,20/12/2020,info@singstat.gov.sg

In [4]:
output = pd.json_normalize(data, 'Level2b')
output.to_csv("total_fertility_rate_by_race.csv", index=False)

In [5]:
output = pd.json_normalize(data, 'Level2a')
output.to_csv('total_fertility_rate_by_age.csv', index=False)

# SG Money Supply

In [6]:
os.chdir(r'C:\Users\tanzh\Documents\Kaggle\datasets\sg money supply')
sg_ms_data_json = r.get('https://www.tablebuilder.singstat.gov.sg/publicfacing/api/json/title/15238.json').json()

In [7]:
pd.json_normalize(sg_ms_data_json)

,Level1,Level2,Level3,Level4,Note,VariableFootNotes,Unit,Datesource,GeneratedBy,DataLastUpdated,DateGenerated,Contact
0,"[{'month': '1991-01', 'level_1': 'M3', 'value'...","[{'month': '1991-01', 'level_1': 'M3', 'level_...","[{'month': '1991-01', 'level_1': 'M3', 'level_...","[{'month': '1991-01', 'level_1': 'M3', 'level_...","""May 1987, money supply was inflated by about ...",[M3 - The M3 series has been revised to includ...,Million Dollars,MONETARY AUTHORITY OF SINGAPORE,SingStat Table Builder,30/11/2020,20/12/2020,info@singstat.gov.sg

In [8]:
sg_money_supply = pd.json_normalize(sg_ms_data_json, 'Level4')
sg_money_supply.to_csv('sg_monthly_money_supply.csv', index=False)

# SG Exchange Rate

In [9]:
os.chdir(r'C:\Users\tanzh\Documents\Kaggle\datasets\sg_ex_rate')
sg_ex_rate = r.get('https://www.tablebuilder.singstat.gov.sg/publicfacing/api/json/title/15313.json').json()

In [10]:
pd.json_normalize(sg_ex_rate)

,Level1n,Level1m,Level1o,Level1b,Level1a,Level1d,Level1c,Level1f,Level1e,Level1h,...,Level1l,Level1k,Note,VariableFootNotes,Unit,Datesource,GeneratedBy,DataLastUpdated,DateGenerated,Contact
0,"[{'month': '1988-01', 'level_1': 'Indian Rupee...","[{'month': '1988-01', 'level_1': 'Renminbi', '...","[{'month': '1988-01', 'level_1': 'Philippine P...","[{'month': '1988-01', 'level_1': 'Sterling Pou...","[{'month': '1988-01', 'level_1': 'US Dollar', ...","[{'month': '1988-01', 'level_1': 'Japanese Yen...","[{'month': '1988-01', 'level_1': 'Swiss Franc'...","[{'month': '1988-01', 'level_1': 'Hong Kong Do...","[{'month': '1988-01', 'level_1': 'Malaysian Ri...","[{'month': '1988-01', 'level_1': 'Korean Won',...",...,"[{'month': '1988-01', 'level_1': 'Thai Baht', ...","[{'month': '1988-01', 'level_1': 'Indonesian R...",Rates are average rates for the period.,[],None,MONETARY AUTHORITY OF SINGAPORE,SingStat Table Builder,15/12/2020,20/12/2020,info@singstat.gov.sg

In [11]:
usd = pd.json_normalize(sg_ex_rate, 'Level1a')
gbp = pd.json_normalize(sg_ex_rate, 'Level1b')
myr = pd.json_normalize(sg_ex_rate, 'Level1e')
thb = pd.json_normalize(sg_ex_rate, 'Level1l')

In [12]:
data = pd.concat([usd,gbp,myr,thb], axis=0)
data

       month    level_1   value                                 uom
0    1988-01  US Dollar  2.0253      Singapore Dollar Per US Dollar
1    1988-02  US Dollar  2.0173      Singapore Dollar Per US Dollar
2    1988-03  US Dollar  2.0133      Singapore Dollar Per US Dollar
3    1988-04  US Dollar  2.0037      Singapore Dollar Per US Dollar
4    1988-05  US Dollar  2.0098      Singapore Dollar Per US Dollar
..       ...        ...     ...                                 ...
390  2020-07  Thai Baht  4.4187  Singapore Dollar Per 100 Thai Baht
391  2020-08  Thai Baht  4.3878  Singapore Dollar Per 100 Thai Baht
392  2020-09  Thai Baht  4.3548  Singapore Dollar Per 100 Thai Baht
393  2020-10  Thai Baht  4.3471  Singapore Dollar Per 100 Thai Baht
394  2020-11  Thai Baht  4.4219  Singapore Dollar Per 100 Thai Baht

[1580 rows x 4 columns]

In [13]:
data.rename(columns={'level_1':'currency', 'value':'exchange_rate','uom':'description'}, inplace=True)
data.sample(5)

,month,currency,exchange_rate,description
375,2019-04,Thai Baht,4.2557,Singapore Dollar Per 100 Thai Baht
49,1992-02,Thai Baht,na,Singapore Dollar Per 100 Thai Baht
273,2010-10,Sterling Pound,2.0675,Singapore Dollar Per Pound Sterling
236,2007-09,US Dollar,1.5126,Singapore Dollar Per US Dollar
133,1999-02,Sterling Pound,2.7705,Singapore Dollar Per Pound Sterling

In [14]:
data.to_csv('sg_exchange_rate.csv', index=False)